@import url('./Home.css');
@import url(./MovieDetails.css);
@import url(./UserDashboard.css);
@import url(./Profile.css);
@import url(./Form.css);
@import url(./SearchResult.css);
@import url(./OthersDashboard.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
